.projectContainerElem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.eachProjectContainer {
  width: 25%;
  border: 2px solid #fff;
  border-radius: 10px;
  margin: 20px;
}

.projectHeadingContainer {
  padding: 10px;
}

.projectHeading {
  color: #fff;
  font-weight: 400;
  text-decoration: underline;
}

.projectImage {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}

.bakaaaImg {
  /* height: 145px; */
  width: 98%;
  padding: 5px;
}

/* .projectDescription {
  height: 100px;
} */

.projectDescriptionPara {
  color: #fff;
  font-size: 1.2rem;
  padding: 10px;
}

@media (max-width: 590px) {
  .eachProjectContainer {
    width: 100%;
  }
}