.contactMeHeadingContainer {
  width: 100%;
  text-align: center;
  margin-top: 5px;
}

.contactMeHeading {
  font-weight: 300;
  color: #fff6f6;
  text-decoration: underline;
  font-style: initial;
  text-transform: capitalize;
}
